<h2>Goal index</h2>
<% if user_signed_in? %>
	<%= link_to("新增目標" , new_goal_path ,:class => "btn btn-info")%>
	<%= link_to("月曆表" , account_schedules_path ,:class => "btn btn-info")%>
<% end %>
<hr>

<div class="row">
  <% @goals.each do |goal| %>
		<div class="span4 ">
			<div class="well" style="border-width:2px; border-style:solid;
																border-color:<%= goal.color %>">
				<%= goal.title %> |
				<%= truncate(goal.description , length: 20)  %>
				<% if current_user && goal.editable_by?(current_user) %> |
					<%= link_to("進入", goal_path(goal.id)) %>
				<% end %>
			</div>
		</div>
	<% end %>
</div>




