
<div class ="well ">
	<div class ="tabbable">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#tab1_today" data-toggle="tab">Today</a></li>
			<li><a href="#tab2_next_week" data-toggle="tab">Next_Week</a></li>
			<li><a href="#tab3_future" data-toggle="tab">Future</a></li>
			<li><a href="#tab4_past" data-toggle="tab">Past</a></li>
			<li><a href="#tab5_all" data-toggle="tab">All</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="tab1_today">
					<%= render '/common/schedules_data' , custom_schedules: @today_schedules  %>
			</div>
			<div class="tab-pane" id="tab2_next_week">
					<%= render '/common/schedules_data' , custom_schedules: @next_week_schedules  %>
			</div>
			<div class="tab-pane" id="tab3_future">
					<%= render '/common/schedules_data' , custom_schedules: @future_schedules  %>
			</div>
			<div class="tab-pane" id="tab4_past">
					<%= render '/common/schedules_data' , custom_schedules: @past_schedules  %>
			</div>
			<div class="tab-pane" id="tab5_all">
					<%= render '/common/schedules_data' , custom_schedules: @schedules  %>
			</div>
		</div>
	</div>
</div>



<div class ="well ">	
	<div class ="tabbable">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#tab1_line" data-toggle="tab">Line</a></li>
			<li><a href="#tab2_bar" data-toggle="tab">Bar</a></li>
			<li><a href="#tab3_donut" data-toggle="tab">Donut</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="tab1_line">
				<%= content_tag :div, "", id: "schedules_chart_line", data: {schedules: @chart , goals: current_user.goals} %>
			</div>
			<div class="tab-pane active" id="tab2_bar">
				<%= content_tag :div, "", id: "schedules_chart_bar", data: {schedules: @chart , goals: current_user.goals} %>
			</div>
			<div class="tab-pane active" id="tab3_donut">
				<%= content_tag :div, "", id: "schedules_chart_donut", data: 
				{schedules: @chart_donut} %>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" >
	$('.nav-tabs > li ').hover( function(){
        $(this).find('a').tab('show');
   });

	MorrisLine();
	MorrisBar();
	MorrisDonut();


</script>



