<div class = "well">
	<table class="table table-condensed table-hover">
		<tbody>
			<tr class="warning">
				<td>行程</td>
				<td>描述</td>
				<td>時數(小時)</td>
				<td>開始時間</td>
				<td>結束時間</td>
			</tr>
		<% @schedules.each do |schedule| %>
			<tr>
				<td><%= schedule.title %></td>
				<td><%= truncate(schedule.description , length: 20) %></td>
				<td><%= (schedule.endtime - schedule.starttime)/3600 %></td>
				<td><%= schedule.starttime.strftime('%Y-%m-%d %H:%M') %></td>
				<td><%= schedule.endtime.strftime('%Y-%m-%d %H:%M') %></td>
			</tr>
		<% end%>
		</tbody>
	</table>
</div>

<div class ="well ">	

	<div class ="tabbable">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#tab1_line" data-toggle="tab">Line</a></li>
			<li><a href="#tab2_bar" data-toggle="tab">Bar</a></li>
			<li><a href="#tab3_donut" data-toggle="tab">Donut</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="tab1_line">
				<%= content_tag :div, "", id: "schedules_chart_line", data: {schedules: @chart , goals: current_user.goals} %>
			</div>
			<div class="tab-pane active" id="tab2_bar">
				<%= content_tag :div, "", id: "schedules_chart_bar", data: {schedules: @chart , goals: current_user.goals} %>
			</div>
			<div class="tab-pane active" id="tab3_donut">
				<%= content_tag :div, "", id: "schedules_chart_donut", data: 
				{schedules: @chart_donut} %>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" >
	MorrisLine();
	MorrisBar();
	MorrisDonut();


</script>



